h3 {
  font-family: var(--font-head);
  font-size: 1.4rem;
}

.grid-col--flex {
  display: grid;
  gap: 0;
  margin: 0;
  grid-template-columns: 200px 1fr 200px;
}

.section-project p,
.section-project {
  font-family: var(--font-paragraf);
  font-size: 1.2rem;
}

.section-project h2 {
  font-size: 2.4rem;
}

.project-description {
  grid-column: 2 / 3;
  margin-bottom: 6rem;
}

.project-description h3 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.pink {
  color: #ec9f9f;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.project-page {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.code-live--links {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  gap: 3rem;
}

.link-style {
  color: var(--color-hover);
  text-decoration: underline;
  font-weight: 800;
}

a .link-style:link,
a .link-style:visited {
  transition: all 0.3s;
}

a .link-style:hover,
a .link-style:active {
  color: #b6bfc2;
}

.img-project {
  /* display: flex; */
  grid-column: 2 / 3;
  padding-bottom: 3rem;
}

.img-project img {
  /* height: 100vh; */
  width: 100%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.149);
  border-radius: 20px;
}

.project-description ul li {
  list-style-type: circle;
}
