* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-paragraf);
  overflow-x: hidden;
}

body {
  max-width: 120rem;
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;
  font-family: var(--font-head);
  color: var(--text-color);
}

p {
  font-size: 24px;
  font-family: var(--font-paragraf);
  color: var(--text-color);
}

:root {
  --font-paragraf: "Quicksand", sans-serif;
  --font-head: "Oswald", sans-serif;
  --main-color: #fff;
  --text-color: #222;
  --color-hover: #52a9b1;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* section {
  padding: 3.2rem 1rem;
} */

/* ************** */

.grid {
  display: grid;
  gap: 3rem;
  margin: 2rem;
}

/* ************* */
/* haeder navigation */
.header {
  height: 5.6rem;
  background-color: var(--main-color);
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5.6rem 0 5.6rem;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#Layer_1 {
  width: 2em;
}
#Layer_2 {
  width: 2em;
}

.main-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav--link:link,
.main-nav--link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: var(--color-hover);
}

.resume-btn .resume {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-hover);
  border-radius: 0.2rem;
}

/* STICKY NAV */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.033);
}

.sticky .home {
  margin-top: 9.6rem;
}

/* MOBILE */
.btn-mobile--nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

button {
  border: none;
  background-color: #fff;
  text-decoration: none;
}

.icon-mobile--nav {
  height: 4.3rem;
  width: 4.3rem;
  color: var(--color-hover);
}

.icon-mobile--nav[name="close-outline"] {
  display: none;
}

/* ************* */
/* hero */

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  height: 70%;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  font-size: 4rem;
  color: var(--text-color);
  font-family: var(--font-head);
  font-weight: 700;
}

.hero-text h1 span {
  color: var(--color-hover);
}

.grid-1fr--1fr {
  grid-template-columns: 1fr 1fr;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ************* */
/* about */

.grid-col--2 {
  grid-template-columns: 1fr 2fr;
  margin-left: 3rem;
  margin-right: 3rem;
}

.title-about h2 {
  display: flex;
  justify-content: center;
}

.title-about {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.about-img {
  grid-column: 1 / 2;
  grid-row: 2/ 3;
  /* height: 30rem; */
}

.about-img img {
  /* height: 70%; */
  width: auto;
  display: flex;
  justify-content: center;
}

.about-text {
  grid-column: 2 / 3;
  grid-row: 2/ 3;
}

.list-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-links {
  grid-column: 1 / 3;
  grid-row: 3/ 4;
}

.links {
  /* padding-bottom: 4.5rem; */
  /* padding-top: 3rem; */
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.2rem;
}

.links-li:link,
.links-li:visited {
  color: var(--text-color);
  font-size: 2.6rem;
  cursor: pointer;
  transition: all 0.8s;
}

.links-li:hover,
.links-li:active {
  color: var(--color-hover);
}

/* *************** */
/* projects */

.grid-col--3 {
  grid-template-columns: 330px 1fr 330px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.title h2 {
  display: flex;
  justify-content: center;
}
.title p {
  display: flex;
  justify-content: center;
}

.one {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.three {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.four {
  grid-column: 1/ 2;
  grid-row: 3 / 4;
}

.five {
  grid-column: 2/ 3;
  grid-row: 3 / 4;
}

.six {
  grid-column: 3/ 4;
  grid-row: 3 / 4;
}

/* ************** */

.title {
  padding-top: 4.5rem;
  padding-bottom: 2.6rem;
}

.project-1,
.project-4 {
  height: 330px;
  width: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 15px #e1e1e1;
  /* transition: transform 0.5s; */
  text-decoration: none;
  color: var(--text-color);

  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  -ms-transition: all 0.9s;

  transition: all 0.9s;
}

.project-2,
.project-3,
.project-6,
.project-5 {
  height: 330px;
  width: 330px;
  box-shadow: 0 5px 15px #e1e1e1;
  display: flex;
  justify-content: center;

  text-decoration: none;
  color: var(--text-color);
  /* transition: transform 0.5s; */
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  -ms-transition: all 0.9s;

  transition: all 0.9s;
}

.project-1:hover,
.project-2:hover,
.project-3:hover,
.project-4:hover,
.project-5:hover,
.project-6:hover {
  transform: scale(0.95);

  background-repeat: no-repeat;
}
.project-1:hover p,
.project-4:hover p,
.project-5:hover p,
.project-2:hover img,
.project-3:hover img,
.project-6:hover img {
  display: none;
}

.project-1:hover {
  background-image: url("img/landing-page.jpg");
  background-size: cover;
}
.project-2:hover {
  background-image: url("img/portfolio-small.jpg");
  background-size: 330px 330px;
}
.project-3:hover {
  background-image: url("img/to-do--mini.jpg");
  background-size: 330px 330px;
}
.project-4:hover {
  background-image: url("img/goal-net.jpg");
  background-size: cover;
}
.project-5:hover {
  background-image: url("img/mockup-2.jpg");
  background-size: cover;
}

.project-6:hover {
  background-image: url("img/maria-heart-ilu.jpg");
  background-size: 330px 330px;
}

.project-1--img,
.project-2--img,
.project-3--img {
  display: flex;
  height: 330px;
  justify-content: center;
  padding: 5rem;
}

.project-1--img {
  padding: 2rem;
}
.project-3--img {
  padding: 6.5rem;
}
.project-6--img {
  padding: 6rem;
}
.project-title {
  font-size: 1.9rem;
  display: flex;
  height: 330px;
  justify-content: center;
  align-items: center;
}

/* *************** */
/* contact */

.grid-col--1 {
  grid-template-columns: 1fr;
}

.contact-img,
.contact-text h2,
.contact-text p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text h2 {
  padding-top: 4.8rem;
  padding-bottom: 2.6rem;
}

.contact p span {
  text-decoration: underline;
  color: #52a9b1;
  padding-left: 10px;
}

.contact-img {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact-img img {
  height: 20rem;
  box-shadow: 0 5px 15px #f1f1f1;
  border-radius: 50%;
}

.contact-link:link,
.contact-link:visited {
  color: var(--color-hover);
}

.contact-link:active,
.contact-link:hover {
  color: #b6bfc2;
}

/* *************** */
/* footer */

.line {
  border-bottom: 2px solid #b6bfc2;
}

.footer-nav--div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 3rem 6.6rem 0 6.6rem; */
  padding: 3rem 5.6rem 0 5.6rem;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  justify-content: center;
  color: var(--text-color);
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.footer-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.footer-nav--link:link,
.footer-nav--link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.footer-nav--link:hover,
.footer-nav--link:active {
  color: var(--color-hover);
}

.footer-resume--btn .resume {
  padding: 0.5rem 1rem;
  border: 2px solid #b6bfc2;
  border-radius: 0.2rem;
}

.footer-resume--btn .resume:link,
.footer-resume--btn .resume:visited {
  transition: all 0.3s;
}

.footer-resume--btn .resume:hover,
.footer-resume--btn .resume:active {
  border: 2px solid #52a9b1;
}
